
DATABASE_URL="your_database_connection_string_here"

BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

BCRYPT_SALT_ROUNDS=12

JWT_ACCESS_SECRET =your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

SUPER_ADMIN_NAME=Super Admin 1
SUPER_ADMIN_EMAIL=superadmin@gmail.com
SUPER_ADMIN_PASSWORD=Super@admin123


TESTER_ADMIN_NAME=Tester Admin 1
TESTER_ADMIN_EMAIL=testeradmin@gmail.com
TESTER_ADMIN_PASSWORD=Tester@admin123


TESTER_LAWYER_NAME=Tester Lawyer 1
TESTER_LAWYER_EMAIL=testerlawyer@gmail.com
TESTER_LAWYER_PASSWORD=Tester@lawyer123

REDIS_USER=your_redis_user_here
REDIS_PASSWORD=your_redis_password_here
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here

SMTP_USER=YOUR_GOOGLE_APP_PASSWORD_EMAIL
EMAIL_SENDER=YOUR_GOOGLE_APP_PASSWORD_EMAIL
SMTP_PASSWORD=YOUR_GOOGLE_APP_PASSWORD

GOOGLE_CLIENT_ID=your_google_client_id_here

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=our_cloudinary_cloud_key_here
CLOUDINARY_API_SECRET=our_cloudinary_cloud_api_secret_here

BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
BKASH_CALLBACK_URL=http://localhost:5000/api/v1

STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
STRIPE_PRODUCT_PRICE_ID="price_optional_placeholder"
BDT_TO_USD_RATE=0.0085